<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>思沃影院</title>
  <link rel="stylesheet" href="/stylesheets/other/style.css">
  <script src="/assets/js/jquery-2.1.1.min.js"></script>
  <script src="/js/app.js"></script>
</head>

<style>
  .imageSize {
    height: 140px;
    width: 100px;
  }
  .fontColor {
    color: black;
  }
  .commentImage {
    height: 96.45px;
    width: 68px;
  }
</style>

<body>
<div class="navbar">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">思沃影院</a>
    </div>
    <div class="navbar-input">
      <input class="form-control" type="text" placeholder="请输入电影名或导演或演员" id="movieRelatedInfo">
      <input class="form-sub" type="submit" value="搜索" id="submit">
      <button class="form-a"><a  href="/admin">后台入口</a></button>

    </div>
  </div>
  <hr style="clear: both;border: 1px solid #e5ebe4">
  <div class="nav-second">
    <ul>
      <li><a href="javascript:void(0)">影讯&购票</a></li>
      <li><a href="/allMovie">选电影</a></li>
      <li><a href="javascript:void(0)">电视剧</a></li>
      <li><a href="javascript:void(0)">排行榜</a></li>
      <li><a href="javascript:void(0)">分类</a></li>
      <li><a href="javascript:void(0)">影评</a></li>
      <li><a href="javascript:void(0)">2017年度榜单</a></li>
      <li><a href="javascript:void(0)">2017观影报告</a></li>
    </ul>
  </div>
</div>

<div class="content">
  <div class="hot">
    <div class="headbar">
      <ul>
        <li>正在热映</li>
        <li><a href="javascript:void(0)">全部正在热映>></a></li>
        <li><a href="javascript:void(0)">即将上映>></a></li>
      </ul>
      <div class="headbar-right">2/4</div>
    </div>

    <% result.forEach(function (e) { %>
        <div class="item">
          <a href="/movieInfo/<%= e.id %>">
            <img src="<%= e.image %>" class="imageSize">
            <h4><a href="/movieInfo/<%= e.id %>"> <%= e.title %> </a></h4>
            <p> <%= e.rating %> </p>
            <span>选座购票</span>
          </a>
        </div>
    <% })%>


  </div>

  <img class="pic" src="/stylesheets/imgs/2.gif" style="height: 100px;width: 750px">

  <div class="hotMovie">
    <div class="headbar">
      <ul>
        <li>最近热门电影</li>
        <li><a href="javascript:void(0)" onclick="loadMovieList($(this).text())"><p class="a1 fontColor">剧情</p></a></li>
        <li><a href="javascript:void(0)" onclick="loadMovieList($(this).text())"><p class="a1">家庭</p></a></li>
        <li><a href="javascript:void(0)" onclick="loadMovieList($(this).text())"><p class="a1">奇幻</p></a></li>
        <li><a href="javascript:void(0)" onclick="loadMovieList($(this).text())"><p class="a1">爱情</p></a></li>
        <li><a href="javascript:void(0)" onclick="loadMovieList($(this).text())"><p class="a1">动作</p></a></li>
        <li><a href="javascript:void(0)" onclick="loadMovieList($(this).text())"><p class="a1">动画</p></a></li>
        <li><a href="javascript:void(0)" onclick="loadMovieList($(this).text())"><p class="a1">战争</p></a></li>
        <li><a href="javascript:void(0)" onclick="loadMovieList($(this).text())"><p class="a1">犯罪</p></a></li>
        <li><a href="javascript:void(0)" onclick="loadMovieList($(this).text())"><p class="a1">喜剧</p></a></li>
        <li><a href="javascript:void(0)" onclick="loadMovieList($(this).text())"><p class="a1">武侠</p></a></li>
      </ul>
      <div class="headbar-right"><a href="/allMovie">更多</a></div>
    </div>

    <div id="movieInfoList">

    </div>


  </div>

  <div class="hotTV">
    <div class="headbar">
      <ul>
        <li>最近热门电视剧</li>
        <li><a href="javascript:void(0)">热门</a></li>
        <li><a href="javascript:void(0)">国产剧</a></li>
        <li><a href="javascript:void(0)">综艺</a></li>
        <li><a href="javascript:void(0)">美剧</a></li>
        <li><a href="javascript:void(0)">日剧</a></li>
        <li><a href="javascript:void(0)">韩剧</a></li>
        <li><a href="javascript:void(0)">日本动画</a></li>
        <li><a href="javascript:void(0)">纪录片</a></li>
      </ul>
      <div class="headbar-right"><a href="javascript:void(0)">更多</a></div>
    </div>
    <div class="item">
      <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2503635995.jpg" class="imageSize">
      <h4><a href="">琅琊榜之风起长林</a></h4>
    </div>
    <div class="item">
      <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2511576604.jpg" class="imageSize">
      <h4><a href="">恋爱先生</a></h4>
    </div>
    <div class="item">
      <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2505793154.jpg" class="imageSize">
      <h4><a href="">虎啸龙吟</a></h4>
    </div>
    <div class="item">
      <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2506488961.jpg" class="imageSize">
      <h4><a href="">相对宇宙</a></h4>
    </div>
    <div class="item">
      <img src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2483150767.jpg" class="imageSize">
      <h4><a href="">白夜追凶</a></h4>
    </div>
    <div class="item">
      <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2387860006.jpg" class="imageSize">
      <h4><a href="">九州·海上牧云记</a></h4>
    </div>
    <div class="slide-ctrl ui-slide-control">
      <a class="btn-prev" href="javascript:void(0)"><</a>
      <i class="dot activate" data-index="0"></i>
      <i class="dot" data-index="1"></i>
      <i class="dot" data-index="2"></i>
      <i class="dot" data-index="3"></i>
      <i class="dot" data-index="4"></i>
      <a class="btn-next" href="javascript:void(0)">></a>
    </div>
  </div>

  <div class="coment">
    <div class="headbar">
      <ul>
        <li>最受欢迎的影评</li>
        <li><a href="javascript:void(0)">更多热门影评>></a></li>
        <li><a href="javascript:void(0)">新片影评>></a></li>
      </ul>
    </div>
    <div class="comment-item">
      <div class="comment-pic">
        <img src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2511935678.webp" class="commentImage">
      </div>
      <div class="comment-content">
        <h4>南极之恋</h4>
        <p>Lemons 评论 《南极之恋》 </p>
        <span>
              致青春让我知道了赵又廷这个演员的存在，
              去年大热的三生三世十里桃花电视剧让我对这个演员有了
          <br>
          初步的了解，

              这一次谈不上失望也没什么惊喜就中规中矩吧，
          <br>
              但是南极实景拍摄这一点值得肯定！杨子珊和赵又廷这对cp我...
            <a href="javascript:void(0)">(全文)</a>
        </span>
      </div>
    </div>
    <div class="comment-item">
      <div class="comment-pic">
        <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2509782433.webp" class="commentImage">
      </div>
      <div class="comment-content">
        <h4>特产西皮</h4>
        <p>帽子 评论 《和平饭店》 </p>
        <span>

                我的天  陈数怎么能这么美   四十岁左右的女人还能这么美真的很服气 好有魅力啊 前夫哥  我的天。
                <br>
                太逗了吧也
                土特产西皮快给我好好的在一起 希望这部剧不要变成雷剧啊  现在就挺好的
                <br>
              期待后边的剧情


            <a href="javascript:void(0)">(全文)</a>
        </span>
      </div>
    </div>
    <div class="comment-item">
      <div class="comment-pic">
        <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2501863104.webp" class="commentImage">
      </div>
      <div class="comment-content">
        <h4>天才少女的最后选</h4>
        <p>JYFL. 评论 《天才枪》</p>
        <span>
            第一次知道原来作弊可以这么高大上 先是琳的钢琴指法教学班 后是跨国“作案” 印刷二维码
            <br>
          深深被智商碾压 简直是最高境界了 这个故事告诉我们
            <br>
          1、找好队友 别让事情败露的彻底2、随机应变特别重要！3、要多才多艺...
            <a href="javascript:void(0)">(全文)</a>
        </span>
      </div>
    </div>
    <div class="comment-item">
      <div class="comment-pic">
        <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2266474793.webp" class="commentImage">
      </div>
      <div class="comment-content">
        <h4>天之病，相思是我爱你之病</h4>
        <p>小脏喵 评论 《绿地黄花》 </p>
        <span>
            电影是改编自越南著名儿童文学作家阮日映的同名小说，
          故事发生在 1980年越南中部的一个贫穷农村，
          <br>
          讲述了两兄弟之间在成长过程中的系列故事。
          一同玩耍、看家、相扶相助，
          <br>
          弟弟崇拜哥哥，但哥哥却嫉妒弟弟因聪明多受...
            <a href="javascript:void(0)">(全文)</a>
        </span>
      </div>
    </div>
  </div>
</div>


<div class="nav-footer">
  <div id="footer">
    <div class="footer-extra"></div>

    <span id="icp" class="fleft gray-link">
                © 2018.1－2018.2, all rights reserved "哦"小分队
            </span>

    <a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

    <span class="fright">
            <a href="https://www.douban.com/about">关于"哦"小分队</a>
            · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
            · <a href="https://www.douban.com/about?policy=disclaimer">免责声明</a>

            · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
            · <a href="https://www.douban.com/doubanapp/">移动应用</a>
        </span>
  </div>
</div>
</body>

<script>


    $(document).ready(function () {
        loadMovieList("剧情");
    });

    /**
     * 加载相应类别图片
     * @param genere
     */
    function loadMovieList(genere) {
    	var success = function (data) {
            $("#movieInfoList").empty();

            data.forEach(function (e) {
	            $("#movieInfoList").append(`
                    <div class="item">
                        <a href="/movieInfo/`+ e.id +`">
                            <img src="`+ e.image +`" class="imageSize">
                            <h4><a href="/movieInfo/`+ e.id +`">`+ e.title +`</a></h4>
                            <p>`+ e.rating +`</p>
                        </a>

                    </div>

                `);
            });

	    };
        Get("/find/" + genere,success);
    };

    /**
     * 设置变色class
     */
    $(".a1").click(function () {
	    $(".a1").removeClass("fontColor");
	    $(this).addClass("fontColor");
    });

    $("#submit").click(function () {
	    var movieRelatedInfo = $("#movieRelatedInfo").val();
	    if (movieRelatedInfo != ""){
		    window.open("/searchMovieList/" + movieRelatedInfo);
	    } else {
	    	alert("输入条件不能为空")
        }
    });
</script>


</html>